@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply text-black tracking-wide;
    }

    h1, h2,h3,h4,h5,h6 {
        @apply font-bold
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl
    }

    h2 {
        @apply text-3xl sm:text-4xl
    }

    li {
        @apply cursor-pointer
    }

    button { 
        @apply shadow-xl  uppercase  text-white
    }
}
html {
  scroll-behavior: smooth;

}

body {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(4) rotate(5)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(210, 20%, 98%, 1)'/><path d='M15 5h10v30H15zM35-5V5H5V-5zM35 35v10H5V35zM35-15h10v30H35zM55 15v10H25V15zM15 15v10h-30V15zM35 25h10v30H35zM-5 25H5v30H-5zM-5-15H5v30H-5z'  stroke-width='5' stroke='hsla(105, 0%, 100%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
}

.services {
    margin-left: 280px;
    margin-right: 280px;
    margin-top: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 10px;
}

.swiper {
    width: 100%;
    height: 100%;
    padding: 50px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    padding-bottom: 60px;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  @media (max-width: 500px) {
    .swiper-slide {
        padding-bottom: 0px;
    }
  }